h1 {
    color: black;
    font-family: "Helvetica";
    font-size: 16px;
    position: relative;
    top: 50px;
    left: 30px;
    right: 30px;
}

h2 {
    border: 1px solid black;
    position: relative;
    margin: 150px 30px;
}

div {
    border: 1px solid black; 
}

.border-red-family {
    border: 1px solid red;
    position: relative;
}

.box {
    border: 1px solid black;
}

.box-icon {
    display: flex;
    min-width: 30px;
    min-height: 30px;
    margin: 0px 0px;
}

.nav-bar {
    justify-content: space-between;
}

#pink-div {
    background-color: pink;
}

.container {
    position: relative;
    left: 25%;
    right: 25%;
    width: 50%;
}