h1 {
    color: black;
    font-family: "Helvetica";
    font-size: 16px;
    position: relative;
    top: 50px;
    margin: 0px 90px;
}

h2 {
    color: black;
    font-family: "Helvetica";
    font-size: 16px;
    position: relative;
    margin: 150px 90px;

}

.body{
    left: 90px;
    right: 90px;
}

div {
    border: 1px solid black; 
    min-height: 30px;
}

.box-icon {
    display: flex;
    min-width: 30px;
    min-height: 30px;
}

.nav-bar {
    justify-content: space-between;
}

.paragraph {
    min-height: 240px;
}


#pink-div {
    background-color: pink;
}

.container {
    position: relative;
    left: 25%;
    right: 25%;
    width: 50%;
}